<h1>Doctor Profile</h1>
<form>
    <div>
    <label>npi</label>
    <input type="number" name='npi'>
    <label>Doctor Name</label>
    <input type="text" name="doctorName">
    <label>Experience</label>
    <input type="text" name="experience">
    </div>

    <div>
            <label>Email</label>
            <input type="email" name='email'>
            <label>Password</label>
            <input type="password" name="password">
            <label>Phone</label>
            <input type="text" name="phone">
    </div>

    <div>
    <label>About Me:</label>
    <textarea name="aboutMe" cols="40" rows="5"></textarea>
    <input type="text" name='aboutMe'>
    <label>Number of Followers</label>
    <input type="number" name="numberOfFollowers">
    <label>Location</label>
    <input type="text" name="location">
    <input type="submit" name="submit">
    </div>



    
</form>


<!-- npi: number;
doctorName: string;
experience: number;
email: string;
password: string;
phone: string;
aboutMe: string;
numberOfFollowers: number;
location: Location; -->
