body{
    margin-top:20px;
    background:#f5f5f5;
  }
  /**
  * Panels
  */
  /*** General styles ***/
  .panel {
  box-shadow: none;
  }
  .panel-heading {
  background:#F26925!important;
  border-bottom: 0;
  }
  .panel-title {
  font-size: 17px;
  color: white;
  }
  .panel-title > small {
  font-size: .75em;
  color: #999999;
  }
  .panel-body *:first-child {
  margin-top: 0;
  }
  .panel-footer {
  border-top: 0;
  }
  
  .panel-default > .panel-heading {
    color: #333333;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.07);
  }
  .form-group.required .control-label:before {
    content:"*";
    color:red;
  }
  
  form label {
    color: #999999;
    font-weight: 400;
  }
  .formHorizontal {
    justify-content: center;
  }
  
  .formHorizontal .form-group {
  text-align: center;
  }
  @media (min-width: 768px) {
  .formHorizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
  }
  
  .profile__contact-info-icon {
    float: left;
    font-size: 18px;
    color: #999999;
  }
  .profile__contact-info-body {
    overflow: hidden;
    padding-left: 20px;
    color: #999999;
  }
  .profile-avatar {
  width: 200px;
  position: relative;
  margin: 0px auto;
  margin-top: 196px;
  border: 4px solid #f3f3f3;
  }
  .btn {
    margin-top: 7px;
    margin-right: 175px;
    vertical-align: bottom;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Lato', sans-serif;
    font-size:12px;
    font-weight: 900;
    background-color: #F26925;
    border: solid;
    border-width: 5px;
    border-color: #F26925;
    border-radius: 50px;
    color: white;
    margin-top: 17px;
  }
  .btn:hover {
    background-color: white;
    color: #F26925;
    border-width: 4px;
  }
  table,
		td,
		th {
			border: 1px solid orange;
			font-family: 'Oxygen', sans-serif;
		}

		th {
			background-color: #F26925;
			color: white;
			height: 30px;
			text-align: center;
		}
		td{
		padding:5px;
    }
    div.inline { float:left; }