<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">

    <!-- BRAND LOGO AREA -->
    <a class="navbar-brand nav-link" routerLink="../adminHome">
      <h2 class="nav-item active">
        <img class="logo" src="../../assets/RevLogo.png"></h2>
    </a>
    <!-- LOGIN Icon -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span>
        <a class="mobile_user_icon" style="cursor: pointer" href="#" target="_blank">
          <span class="glyphicon glyphicon-user" style="color:#f26925"></span>
        </a>
      </span>
    </button>

    <!-- Hamburger Menu Icon -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color:#f26925"></span>
    </button>

    <!-- BOOTSTRAP COLLAPSABLE NAVBAR -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <div class="search-container row navItems">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">BUTTON <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">MY ACCOUNT</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="calendar" >VIEW APPOINTMENTS</a>
          </li>
          <button class="btn navBtn" routerLink="searchDoctor" routerLinkActive="active">FIND A DOCTOR</button>
          <button class="btn navBtn">ANOTHER BUTTON</button>
        </ul>
      </div>
    </div>
  </div>
</nav>
<hr />
    <div class="container bootstrap snippets">
      <div class="row">
        <div class="col-xs-12 offset-sm-9 text-center">
          <form class="formHorizontal" (ngSubmit)="sendUpdatedData(formHorizontal)">
              <div class="panel panel-default">
                <div class="panel-body text-center">
                 <img src="../assets/unisex_doc.png" class="img-circle profile-avatar" alt="User avatar">
                </div>
              </div>
            <div class="panel panel-default">
              <div class="panel-heading">
              <h4 class="panel-title">User info</h4>
              </div>
              <div class="panel-body">
                  <div class="form-group">
                      <label class="col-sm-2 control-label">Name</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="doctor.doctorName" value="{{doctor.doctorName}}" disabled>
                      </div>
                    </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Location</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" [(ngModel)]="location.state" value="{{location.state}}" disabled>
                    </div>
                  </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Hospital name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" [(ngModel)]="location.locationName" value="{{location.locationName}}" disabled>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Experience</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" [(ngModel)]="doctor.experience" value="{{doctor.experience}}" disabled>
                  </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">About Me</label>
                    <div class="col-sm-10">
                      <textarea rows="3" class="form-control" [(ngModel)]="doctor.aboutMe" value="{{doctor.aboutMe}}"></textarea>
                    </div>
                  </div>
              </div>
            </div>
  
            <div class="panel panel-default">
                <div class="panel-heading">
                <h4 class="panel-title">Coverage Info</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Insurance Covered</label>
                        <div class="col-sm-10">
                          <textarea rows="3" class="form-control" [(ngModel)]="insurance.insuranceType" value="{{insurance.insuranceType}}" disabled></textarea>
                        </div>
                      </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">License</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" [(ngModel)]="license.licenseName" value="{{license.licenseName}}" disabled>
                    </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-2 control-label">Specialty</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="specialty.specialtyType" value="{{specialty.specialtyType}}" disabled>
                      </div>
                    </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Conditions</label>
                    <div class="col-sm-10">
                      <textarea rows="3" class="form-control" [(ngModel)]="conditionType.conditionName" value="{{conditionType.conditionName}}" disabled></textarea>
                    </div>
                  </div>
                </div>
              </div>
      
            <div class="panel panel-default">
              <div class="panel-heading">
              <h4 class="panel-title">Contact info</h4>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Work number</label>
                  <div class="col-sm-10">
                    <input type="tel" class="form-control" [(ngModel)]="doctor.phone" value="{{doctor.phone}}" disabled>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Work E-mail address</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" [(ngModel)]="doctor.email" value="{{doctor.email}}" disabled>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Work address</label>
                  <div class="col-sm-10">
                    <textarea rows="3" class="form-control" [(ngModel)]="location.address" value="{{location.address}}" disabled></textarea>
                  </div>
                </div>
              </div>
            </div>
                <div class="form-group form-group-center">
                  <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn">Submit</button>
                    <button onclick="goBack()" class="btn">Cancel</button>
                  </div>
                </div>
          </form>
        </div>
      </div>
      </div>
