<div class="container bootstrap snippets">
  <div class="row">
    <div class="col-md-12 text-center">
      <form class="formHorizontal" (ngSubmit)="sendUpdatedData(formHorizontal)">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <img src="../assets/unisex_doc.png" class="img-circle profile-avatar" alt="User avatar">
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">User info</h4>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="col-md-2 control-label">Name</label>
              <div class="col-md-12">
                <input type="text" class="form-control" [(ngModel)]="doctor.doctorName" name="name"
                  value="{{doctor.doctorName}}" disabled>
              </div>
            </div>
            <!-- <div class="form-group">
                      <label class="col-sm-2 control-label">Location</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="location.state" name="state" value="{{location.state}}" disabled>
                      </div>
                    </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Hospital name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" [(ngModel)]="location.locationName" name="locationName" value="{{location.locationName}}" disabled>
                    </div>
                  </div> -->
            <div class="form-group">
              <label class="col-md-2 control-label">Experience</label>
              <div class="col-md-12">
                <input type="text" class="form-control" [(ngModel)]="doctor.experience" name="experience"
                  value="{{doctor.experience}}" disabled>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">About Me</label>
              <div class="col-md-12">
                <textarea rows="3" class="form-control" [(ngModel)]="doctor.aboutMe" name="aboutMe"
                  value="{{doctor.aboutMe}}"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Coverage Info</h4>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="col-md-2 control-label">Insurance Covered</label>
              <div class="col-md-12">
                <table cellpadding="0" width="100%">
                  <tr *ngFor="let i of insurance">
                    <td>{{i.insuranceType.insuranceName}}</td>
                  </tr>
                </table>
              </div>
            </div>
            <!-- <div class="form-group">
                      <label class="col-sm-2 control-label">License</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="license.licenseName" name="licenseName" value="{{license.licenseName}}" disabled>
                      </div>
                    </div> -->
            <div class="form-group">
              <label class="col-md-2 control-label">Specialty</label>
              <div class="col-md-12">
                <table cellpadding="0" width="100%">
                  <tr *ngFor="let s of specialty">
                    <td>{{s.specialtyType.specialtyName }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">Conditions</label>
              <div class="col-md-12">
                <!-- <div class="col-md-12"> -->
                <table cellpadding="0" width="100%">
                  <tr *ngFor="let c of conditions">
                    <td>{{c.conditionType.conditionName}}</td>
                  </tr>
                </table>
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Contact info</h4>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="col-md-2 control-label">Work number</label>
              <div class="col-md-12">
                <input type="tel" class="form-control" [(ngModel)]="doctor.phone" name="phone" value="{{doctor.phone}}"
                  disabled>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">Work E-mail address</label>
              <div class="col-md-12">
                <input type="email" class="form-control" [(ngModel)]="doctor.email" name="email"
                  value="{{doctor.email}}" disabled>
              </div>
            </div>
            <!-- <div class="form-group">
                    <label class="col-sm-2 control-label">Work address</label>
                    <div class="col-sm-10">
                      <textarea rows="3" class="form-control" [(ngModel)]="location.address" name="address" value="{{location.address}}" disabled></textarea>
                    </div> 
                  </div>-->
          </div>
        </div>
        <div class="form-group form-group-center">
          <div class="col-md-12 inline form-group-center">

            <div class="col-md-6 inline form-group-center">
              <button type="submit" class="btn">Submit</button>
            </div>
            <div class="col-md-6 inline form-group-center">
              <button (click)="goBack()" class="btn">Cancel</button>
            </div>
          </div>


        </div>
      </form>
    </div>
  </div>
</div>
<br>
<hr>