

.rating-header {
    margin-top: -10px;
    margin-bottom: 10px;
}

div#rating-wrapper {
    background-color: lightgray;
    color: olive;
    border:  10px;

}

table#ratings_table {
    
    

}

btn[name=star]{
    background-color: orange !important;
}

.btnrating btn btn-default btn-lg{
    /* background-color: orange !important; */
}

ul#test li {
    display: inline;
}

button#submit {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Lato', sans-serif;
    font-size:12px;
    font-weight: 900;
    background-color: #F26925;
    border: solid;
    border-width: 5px;
    border-color: #F26925;
    border-radius: 50px;
    color: white;
    
}

