button{
    width:200px;
    height:50px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Lato', sans-serif;
    font-size:12px;
    font-weight: 900;
    background-color: #F26925;
    border: solid;
    border-width: 5px;
    border-color: #F26925;
    border-radius: 50px;
    color: white;
  }
  
  button .msg-follow,
  button .msg-following,
  button .msg-unfollow{
    display: none;
  }
  
  button .msg-follow{
    display: inline;
  }
  
  button.follow .msg-follow{
    display: none;
  }
  
  
  button.follow .msg-following{
    display: inline;
  }
  
  
  button.following:not(.wait):hover .msg-following{
    display: none;
  }
  
  
  button.following:not(.wait):hover .msg-unfollow{
    display: inline;
  }
  