<div id="doctorRatings">
    <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
            <span class="half" [style.width.%]="fill">&#9733;</span>&#9734;
        </span>
    </ng-template>

    <table>
        <tr>
            <th>Field</th>
            <th>value</th>
        </tr>
        <tr>
            <td>Bedside Manner</td>
            <td>
                <ngb-rating [(rate)]="this.bedsideManner" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                <pre>Rate: <b>{{this.bedsideManner}}</b></pre>
            </td>
        </tr>
        <tr>
            <td>waittime</td>
            <td>
                <ngb-rating [(rate)]="this.waitTime" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                <pre>Rate: <b>{{this.waitTime}}</b></pre>
            </td>
        </tr>
        <tr>
            <td>overrall</td>
            <td>
                <ngb-rating [(rate)]="this.overall" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                <pre>Rate: <b>{{this.overall}}</b></pre>
            </td>
        </tr>

    </table>
</div>