<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">

    <!-- BRAND LOGO AREA -->
    <a class="navbar-brand nav-link" routerLink="../adminHome">
      <h2 class="nav-item active">
        <img class="logo" src="../../assets/RevLogo.png"></h2>
    </a>
    <!-- LOGIN Icon -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span>
        <a class="mobile_user_icon" style="cursor: pointer" href="#" target="_blank">
          <span class="glyphicon glyphicon-user" style="color:#f26925"></span>
        </a>
      </span>
    </button>

    <!-- Hamburger Menu Icon -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color:#f26925"></span>
    </button>

    <!-- BOOTSTRAP COLLAPSABLE NAVBAR -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <div class="search-container row navItems">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="login">LOGIN <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">MY ACCOUNT</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="viewSchedule" routerLinkActive="active">VIEW APPOINTMENTS</a>
          </li>
          <button class="btn navBtn" routerLink="searchDoctor" routerLinkActive="active">FIND A DOCTOR</button>
          <button class="btn navBtn">ANOTHER BUTTON</button>
          <button class="btn navBtn">LOGOUT</button>
        </ul>
      </div>
    </div>
  </div>
</nav>
<hr />
<router-outlet></router-outlet>
