<div class="navbarWrapper">

    <nav class="navbar revNav container text-center">
      <div class="navRow row">
        <a class="navbar-brand" href="#">
            <img class="logo" src="../../assets/RevLogo.png">
        </a>
              <div class="search-container row navItems">
                  <li>
                    <a class="nav-link" href="#">BUTTON <span class="sr-only">(current)</span></a>
                  </li>
                  <li>
                    <a class="nav-link" href="#">MY ACCOUNT</a>
                  </li>
                  <li>
                    <a class="nav-link" href="#">VIEW APPOINTMENTS</a>
                  </li>
                    <button class="btn navBtn">FIND A DOCTOR</button>
                    <button class="btn navBtn">ANOTHER BUTTON</button>
              </div>
      </div>
      </nav>
      </div>
