.userProfileStyle {
  width: 50%;
}

.apptBox {
  border: 1px solid black;
  padding: 2rem;
  border-radius: .5rem;
}

#apptBoxTitle {
  background-color: #F26925;
  padding: 2rem;
  margin: -2rem;
  color: white;
}