<br>
<section class="moduler wrapper_404">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><strong>Search Doctor</strong></h2>
        <hr />
        <div *ngIf="isGeneralSearch; then generalSearch else specificSearch"></div>
        <ng-template #generalSearch>
          <span>
            <h6>* Empty search input and press Search button to get all results.</h6>
          </span>
          <form (ngSubmit)="searchDoctor()" #userForm="ngForm" name="generalSearchForm">
            <div class="text-center">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><span
                      class="glyphicon glyphicon-search"></span></span>
                </div>
                <!-- <span class="input-group-addon"> <span class="glyphicon glyphicon-search"></span></span> -->
                <input type="text" class="form-control" id="searchDoctor" name="searchDoctor" [(ngModel)]="searchValue"
                  placeholder="Search Doctor Infomation like NPI, name, address, specialty, insurance, ... to search">
              </div>
              <br>
              <div>
                <button class="button" name="userSearch" id="showTable">
                  <span class="glyphicon glyphicon-search"></span> Search
                </button>
              </div>
              <br />
            </div>
          </form>
        </ng-template>
        <ng-template #specificSearch>
          <form (ngSubmit)="searchDoctor()" #userForm="ngForm" name="specificSearchForm">
            <div class="col-md-12 inline">
              <div class="text-center col-md-6 inline">
                <span class="text-left">
                  <h6>* Empty search input and press Search button to get all results.</h6>
                </span>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><span
                        class="glyphicon glyphicon-search"></span></span>
                  </div>
                  <input type="text" class="form-control" id="searchSpecificDoctor" name="searchSpecificDoctor"
                    [(ngModel)]="searchValue"
                    placeholder="Search Doctor Infomation like NPI, name, address, specialty, insurance, ... to search">
                </div>
                <br>
                <div>
                  <button class="button" name="userSpecificSearch" id="showSpecificTable">
                    <span class="glyphicon glyphicon-search"></span> Search
                  </button>
                </div>
              </div>
              <div class="col-md-6 inline">
                <div class="col-md-12">
                  <div class="col-md-3 inline text-left" style="height:3rem;">
                    Specialization:
                  </div>
                  <div class="col-md-8 inline" style="height:3rem;">
                    <select style="width:100%; min-width: 15rem;" [ngModel]="selectedSpecialty"
                      (ngModelChange)="onSpecialtyChagne($event)" name="specialtyComboBox">
                      <option [value]="0">ALL Specializations</option>
                      <option *ngFor="let i of specialtyList" [value]="i.specialtyName">{{i.specialtyName}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-3 inline text-left" style="height:3rem;">
                    Condition:
                  </div>
                  <div class="col-md-8 inline" style="height:3rem;">
                    <select style="width:100%; min-width: 15rem;" [ngModel]="selectedCondition"
                      (ngModelChange)="onConditionChagne($event)" name="conditionComboBox">
                      <option [value]="0">ALL Conditions</option>
                      <option *ngFor="let i of conditionList" [value]="i.conditionName">{{i.conditionName}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12" >
                  <div class="col-md-3 inline text-left" style="height:3rem;">
                    Insurance:
                  </div>
                  <div class="col-md-8 inline" style="height:3rem;">
                    <select style="width:100%; min-width: 15rem;" [ngModel]="selectedInsurance"
                      (ngModelChange)="onInsuranceChagne($event)" name="insuranceComboBox">
                      <option [value]="0">ALL Insurances</option>
                      <option *ngFor="let i of insuranceList" [value]="i.insuranceName">{{i.insuranceName}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </ng-template>
        <div class="text-center">
          <span (click)="advancedSearch()" style="cursor: pointer"><u>{{searchName}}</u></span>
        </div>
        <hr>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-12">
        <div *ngIf="opendetails" class="footer copyright">
          <span>
            <h6>* Click table header to sort</h6>
          </span>
          <table cellpadding="0" id="productTable" width=100%>
            <tr>
              <th scope="col" (click)="npiSort()" style="cursor: pointer">NPI</th>
              <th scope="col" (click)="nameSort()" style="cursor: pointer;" width="100px">DOCTOR NAME</th>
              <th scope="col" (click)="phoneSort()" style="cursor: pointer;" width="100px">PHONE NUMBER</th>
              <th scope="col" (click)="emailSort()" style="cursor: pointer">EMAIL</th>
              <th scope="col" (click)="addressSort()" style="cursor: pointer">ADDRESS</th>
              <th scope="col" (click)="citySort()" style="cursor: pointer">CITY</th>
              <th scope="col" (click)="yearSort()" style="cursor: pointer">YEARS OF EXPERIENCE</th>
              <th scope="col" (click)="specialtySort()" style="cursor: pointer">SPECIALTY</th>
              <th scope="col" (click)="insuranceSort()" style="cursor: pointer">INSURANCE</th>
              <th scope="col" (click)="conditionSort()" style="cursor: pointer">CONDITION</th>
            </tr>
            <tr *ngFor="let d of pageOfItems">
              <td (click)="goDoctorDetails(d)" style="cursor: pointer"><u>{{d[0]}}</u></td>
              <td (click)="goDoctorDetails(d)" style="cursor: pointer"><u>{{d[1]}}</u></td>
              <td>{{d[2]}}</td>
              <td>{{d[3]}}</td>
              <td>{{d[4]}}</td>
              <td>{{d[5]}}</td>
              <td>{{d[6]}}</td>
              <td>{{d[7]}}</td>
              <td>{{d[8]}}</td>
              <td>{{d[9]}}</td>
            </tr>
          </table>
          <table class="noborder" cellpadding="0" width=100%>
            <tr class="noborder text-center" width=100%>
              <td class="noborder" width=30%>

              </td>
              <td class="text-center noborder pt-3" width=50%>
                <jw-pagination [items]="doctorList" (changePage)="onChangePage($event)" [pageSize]=+selectedNumberPage>
                </jw-pagination>

              </td>
              <td class="noborder">
                <select [ngModel]=+selectedNumberPage (ngModelChange)="onNumberPageChange($event)" name="numPages">
                  <!-- <option [value]=2>2 rows per page</option> -->
                  <option [value]=5>5 rows per page</option>
                  <option [value]=10>10 rows per page</option>
                  <option [value]=20>20 rows per page</option>
                  <option [value]=50>50 rows per page</option>
                  <option [value]=100>100 rows per page</option>
                </select>
              </td>

            </tr>
          </table>

        </div>
      </div>
    </div>

  </div>

</section>