<section class="userApptStyle">
  <div class="card" *ngFor="let appointment of userAppointments; let i = index; trackBy: trackByFn">
    <div class="card-body">
      <h6 class="card-title">When: {{ appointment.date | date:'longDate' }}</h6>
      <h6 class="card-title">Day: {{ appointment.time | date:'EEE' }} @ {{ appointment.time | date:'shortTime' }} </h6>
      <p class="card-subtitle text-muted">Associate: {{ appointment.revAssociate.revAssociateName }} </p>
      <p class="card-subtitle text-muted">Appt Id: {{ appointment.appointmentId }}</p>
      <hr>
      <p routerLink='doctorProfile' class="card-text">Doctor: {{ appointment.doctor.doctorName }}</p>
      <p class="card-text">Where: {{ appointment.doctor.location.locationName }}</p>
      <p class="card-text">Address: {{ appointment.doctor.location.address }}, {{ appointment.doctor.location.city }}, {{ appointment.doctor.location.state }} {{ appointment.doctor.location.zip }}</p>
      <!-- <p class="card-text">Insurance: {{ appointment.insurance }}</p> -->
      <p class="card-text">Confirmed: {{ appointment.confirmed }}</p>
    </div>
  </div>
</section>
