



div#rating-wrapper {
    background-color: lightgray;
    color: olive;
    border:  10px;

}



button#submit {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Lato', sans-serif;
    font-size:12px;
    font-weight: 900;
    background-color: #F26925;
    border: solid;
    border-width: 5px;
    border-color: #F26925;
    border-radius: 50px;
    color: white;
    
}

.star_rating_BM {width: 250px;}
.star_rating_BM input,
.star_rating_BM i {width: 20%;}
.star_rating_BM i ~ i {width: 40%;}
.star_rating_BM i ~ i ~ i {width: 60%;}
.star_rating_BM i ~ i ~ i ~ i {width: 80%;}
.star_rating_BM i ~ i ~ i ~ i ~i {width: 100%;}

.star_rating_WT {width: 250px;}
.star_rating_WT input,
.star_rating_WT i {width: 20%;}
.star_rating_WT i ~ i {width: 40%;}
.star_rating_WT i ~ i ~ i {width: 60%;}
.star_rating_WT i ~ i ~ i ~ i {width: 80%;}
.star_rating_WT i ~ i ~ i ~ i ~i {width: 100%;}


.star-rating {
    white-space: nowrap;
    display: inline-block;
    width: 500px;
    height: 100px;
    overflow: hidden;
    position: relative;
    padding: 10px;
    background-image:  url("../../assets/blank_star.png") ;
    
  }
  .star-rating em {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background-image: url("../../assets/orange_star.png");
    background-size: contain;
  }
  input#overall {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
    background-image: url("../../assets/blank_star.png");
  }
  .star-rating input:hover + em,
  .star-rating input:checked + em {
    opacity: 1;
  }



.star-rating em  {
    width: 20%;
  }
  .star-rating em ~ em {
    width: 40%;
  }
  .star-rating em ~ em ~ em {
    width: 60%;
  }
  .star-rating em ~ em ~ em ~ em {
    width: 80%;
  }
  .star-rating em ~ em ~ em ~ em ~ em {
    width: 100%;
  }

  ::after,
  ::before {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
  }

  /* hides radio buttons so that only the star images show */
  [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  [type=radio] + img {
    cursor: pointer;
  }
  [type=radio]:checked + img {
    outline: 2px solid #f00;
  }
  /* hides orange star */
  .star .img-top {
    display: none;
    position: relative;
    top: 50;
    left: 50;
    z-index: 99;
}
/* displays orange star image */
.star:hover .img-top {
    display: inline;
} 
/* hides blank star */
.star:hover .img-bot{
    display: none;
}